dist
cabal-dev/
*.ibc
*.o
*.a
*.so
*.dll
*.dylib
*.swp
*~
.DS_Store
custom.mk
test/output
test/test???/output
test/reg???/output
test/test???/*.exe
test/reg???/*.exe
tutorial/*.aux
tutorial/*.bbl
tutorial/*.blg
tutorial/*.log
tutorial/*.out
tutorial/*.toc
tutorial/*.fdb_latexmk
tutorial/*.fls
