language: haskell
before_install:
  - sudo add-apt-repository ppa:h-rayflood/llvm
  - sudo apt-get update -qq
  - sudo apt-get install -qq libgc-dev llvm-3.3
before_script:
  - cabal sdist
  - cd ..
  - tar -xf Idris-dev/dist/idris*.tar.gz
  - cd idris*
script:
  - cabal configure
  - cabal install
  - make test

