.idrisdoc-logo {
	font-weight: bold;
	font-size: 1.4em;
	padding: .5em;
}

.idrisdoc-logo:before {
	content: url(idrisdoc-logo.svg);
	display: inline-block;
	width: .5em;
	vertical-align: middle;
	margin-right: .5em;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
	background-color: #252525;
	color: white;
}

header nav,
header,
dl,
#pkginfo-rendered ul,
.button-group,
.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header > *,
header nav > *,
#pkginfo-rendered ul > *,
dl > *,
.box > * {
	flex-grow: 1; 
}

.idrisdoc-logo,
header nav,
.is-narrow {
	flex-grow: 0;
}

nav a:link,
nav a:visited,
.button-group a
{
	padding: 1em;
	display: block;
	text-decoration: none;
	color: white;
}

nav a:hover {
	background: #AAA;
}

.container {
	max-width: 50em;
	padding: 1em;
	margin: 0 auto;
}

.nsname {
	padding: 1em;
}

.nsname span:before {
	content: "/";
	color: #AAA;
}

.nsname span:first-child:before {
	content: "";
}

h1 {
	font-size: 2em;
	margin-top: 1em;
}

dd {
	width: 60%;
	margin-left: auto;
}

dt {
	width: 39.9%;
	font-weight: bold;
}

dd,dt {
	box-sizing: border-box;
	padding: .5em;
}

#pkginfo-switch {
	float: right;
	font-size: .8em;
}

.button-group {
	border-radius: .5em;
	overflow: hidden;
	background: #E6E6E6;
	box-shadow: .1em .1em .1em rgba(0,0,0,.5);
}

.button-group a {
	color: #333;
	padding: .8em;
	border-right: 1px solid #BBB;
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 45%,rgba(0,0,0,.1));
}
.button-group a:hover {
	background-color: #DDD;
	border-right: 1px solid #AAA;
}
.button-group a:first-child {
	border-radius: .5em 0 0 .5em;
}

.button-group a:last-child {
	border-radius: 0 .5em .5em 0;
	border-right: 0;
}

.button-group .is-active,
.button-group .is-active:hover
{
	background-color: #D0D0FF;
}

#info h1 span {
	font-weight: bold;
	text-transform: uppercase;
}

#pkginfo-rendered {
	font-size: 1.2em;
	line-height: 1.2;
}

.hidden {
	display: none;
}

#pkginfo-list {
	margin-top: 1em;
	border: 1px solid #CCC;
}

#pkginfo-list dt:nth-child(4n+1),
#pkginfo-list dd:nth-child(4n+2)
{
	background: #EEE;
}

.important-facts * {
	display: inline;
	font-size: .6em;
	padding: 0;
}

.important-facts dt:after {
	content: ": ";
}

.important-facts dd:after {
	content: " | ";
	color: #CCC;
}

.important-facts dd:last-child:after {
	content: "";
}

#pkginfo-rendered p {
	margin-top: 1em;
}

#pkginfo-rendered a {
	text-align: center;
	display: block;
	padding: 1em;
	margin: 1em;
	margin-left: 0;
	background: #EEE;
	font-size: .8em;
}
#pkginfo-rendered li:last-child a {
	margin-right: 0;
}

#pkginfo-rendered a:hover {
	background: #DDD;
}
